<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:dataMiner.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Use "update" in development -->

        <!-- Mention your annotated entity classes -->
        <mapping class="com.udel.dataMiner.dataModel.ObjectEntity"/>
        <mapping class="com.udel.dataMiner.dataModel.Item"/>
        <mapping class="com.udel.dataMiner.dataModel.ItemsInObject"/>
        <mapping class="com.udel.dataMiner.dataModel.CalculationMethod"/>
        <mapping class="com.udel.dataMiner.dataModel.ObjectParameters"/>
        <mapping class="com.udel.dataMiner.dataModel.Mode"/>
<!--        <mapping class="com.udel.dataMiner.dataModel.Condition"/>-->
        <mapping class="com.udel.dataMiner.dataModel.tablesForCalc.costs.Inflation"/>
        <mapping class="com.udel.dataMiner.dataModel.ModelParameters"/>

    </session-factory>
</hibernate-configuration>
